<div [formGroup]="form" class="input-group select"
     [ngClass]="{'invalid': !isValid, 'custom-caret': displayCustomCaret}">

  <label *ngIf="label != null" [for]="id">
    {{label}}<span *ngIf="markAsRequired">*</span>
  </label>

  <div class="position-relative">
    <select [id]="id"
            [formControlName]="formName"
            [ngClass]="{'empty': formControl?.value == null}">

      <option hidden [value]="null" class="default-option">
        {{placeholder}}
      </option>

      <option *ngFor="let item of options"
              [value]="item.value"
              [disabled]="item.disabled">
        {{item.display}}
      </option>
    </select>

    <ng-container *ngIf="displayCustomCaret && !isLoading"
                  [ngTemplateOutlet]="caretDown">
    </ng-container>

    <val-loading-spinner [show]="isLoading"
                         [dark]="true"
                         [size]="20">
    </val-loading-spinner>
  </div>

  <div class="input-errors">
    <ng-content></ng-content>
    <val-generic-error-messages *ngIf="useDefaultErrorMessages"
                                (errorMessages)="addDefaultErrorMessages($event)">
    </val-generic-error-messages>
  </div>
</div>

<ng-template #caretDown>
  <svg class="caret-down" width="13" height="7" viewBox="0 0 17 10" xmlns="http://www.w3.org/2000/svg">
    <path
        d="M16.1972 0.03125H0.803461C0.341742 0.03125 0.0839297 0.51875 0.369867 0.851562L8.06674 9.77656C8.28705 10.032 8.71127 10.032 8.93393 9.77656L16.6308 0.851562C16.9167 0.51875 16.6589 0.03125 16.1972 0.03125Z"/>
  </svg>
</ng-template>
