<div [formGroup]="form" class="input-group checkbox"
     [ngClass]="{'invalid': !isValid}">

  <label>
    <input type="checkbox"
           [formControlName]="formName">
    {{label}}<span *ngIf="markAsRequired">*</span>
  </label>

  <div class="input-errors">
    <ng-content></ng-content>
    <val-generic-error-messages *ngIf="useDefaultErrorMessages"
                                (errorMessages)="addDefaultErrorMessages($event)">
    </val-generic-error-messages>
  </div>

  <val-loading-spinner [show]="isLoading"
                       [dark]="true"
                       [size]="20">
  </val-loading-spinner>
</div>
