.input-group {
  position: relative;

  .text label, .select label {
    display: block;
    margin-bottom: 5px;
  }

  input:not([type=checkbox]):not([type=radio]), select {
    width: 100%;
  }

  .password-input {
    position: relative;

    .toggle-password {
      position: absolute;
      top: 50%;
      right: 10px;
      transform: translateY(-50%);
      cursor: pointer;
    }
  }

  .input-errors {
    display: flex;
    flex-direction: column;
    justify-content: center;

    min-height: 15px;
    font-size: 12px;
    margin-bottom: 3px;
  }

  &.custom-caret {
    select, input {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
    }
  }

  .caret-down {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
  }
}
