.loader, .loader:after {
  border-radius: 50%;
}

.loader {
  $border: 4px solid;
  $small-border: 3px solid;

  font-size: 10px;
  position: relative;
  text-indent: -9999em;

  border: $border rgba(white, 0.2);
  border-left: $border white;

  &.dark {
    border: $border rgba(black, 0.2);
    border-left: $border black;
  }

  &.small {
    border: $small-border rgba(white, 0.2);
    border-left: $small-border solid white;

    &.dark {
      border: $small-border rgba(black, 0.2);
      border-left: $small-border black;
    }
  }

  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);

  -webkit-animation: load 1.1s infinite linear;
  animation: load 1.1s infinite linear;
}

@-webkit-keyframes load {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes load {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
