<!--<hockeydata-game-score [gameReport]="gameReport"-->
<!--                       [homeLogo]="homeLogo"-->
<!--                       [awayLogo]="awayLogo">-->
<!--</hockeydata-game-score>-->

<!--<hockeydata-standings [standings]="standings3" [logos]="logos"></hockeydata-standings>-->
<!--<hd-standings-compact [standings]="standings2" [logoMap]="logos"></hd-standings-compact>-->
<!--<hd-standings-compact [standings]="standings3" [logoMap]="logos"></hd-standings-compact>-->

<hd-playoffs *ngIf="knockoutStage"
             [knockoutPhase]="knockoutStage.phases[0]"
             [logoMap]="logoMap">
</hd-playoffs>

<!--<div data-hd-widget="hockeydata.los.Game.LiveBox" data-hd-widget-options='{-->
<!--        "apiKey": "702b9e4a55d61cf7ffe943e90bede05b",-->
<!--        "sport": "icehockey",-->
<!--        "gameId": "24352fe0-0ca3-4f99-80c0-ee22d55e6a56"-->
<!--      }'></div>-->


<!--<val-toggle-button [values]="values"-->
<!--                   [(value)]="value.value">-->
<!--</val-toggle-button>-->

<!--<val-toggle-button [values]="values"-->
<!--                   [(value)]="value.value">-->
<!--</val-toggle-button>-->

<!--{{value.value}}-->

<!--<val-social-demo></val-social-demo>-->
<!--<val-image-gallery [images]="images"></val-image-gallery>-->
<!--<val-product-image-gallery [images]="lessImages"></val-product-image-gallery>-->
<!--<range-slider [min]="0" [max]="100" [toolTips]="[false,false]" [(ngModel)]="priceRange"></range-slider>-->

<!--<val-generic-input [formName]="'firstName'"-->
<!--                   [form]="shippingForm"-->
<!--                   [label]="'Name'"-->
<!--                   [placeholder]="'Land wählen'"-->
<!--                   [isFormSubmitted]="isSubmitted"-->
<!--                   [useDefaultErrorMessages]="true">-->
<!--</val-generic-input>-->

<!--<val-generic-select [formName]="'country'"-->
<!--                    [form]="shippingForm"-->
<!--                    [label]="'Land'"-->
<!--                    [placeholder]="'Land wählen'"-->
<!--                    [options]="countries"-->
<!--                    [isFormSubmitted]="isSubmitted"-->
<!--                    [useDefaultErrorMessages]="true">-->
<!--</val-generic-select>-->

<!--<div>{{shippingForm?.get('country')?.hasError('server')}}</div>-->

<!--<val-generic-checkbox [form]="shippingForm"-->
<!--                      [label]="'Gleiche Rechnungsadresse'"-->
<!--                      [formName]="'useDifferentBilling'"-->
<!--                      [markAsRequired]="true"-->
<!--                      [isFormSubmitted]="isSubmitted">-->
<!--    <div val-input-error-message [errorType]="FormErrorType.REQUIRED">-->
<!--        Field is required-->
<!--    </div>-->
<!--</val-generic-checkbox>-->

<!--<val-generic-radio [formName]="'beer'"-->
<!--                   [form]="shippingForm"-->
<!--                   [options]="beers"-->
<!--                   [isFormSubmitted]="isSubmitted">-->
<!--</val-generic-radio>-->

<!--<input type="submit" value="submit form" (click)="submit($event)">-->

<!--<button (click)="setError()">sdfasdf</button>-->

<!--<pre>{{this.shippingForm.value | json}}</pre>-->
