<val-generic-select [formName]="'country'"
                    [form]="shippingForm"
                    [label]="'Land'"
                    [placeholder]="'Land wählen'"
                    [options]="countries"
                    [isFormSubmitted]="isSubmitted">
    <div val-input-error-message [errorType]="FormErrorType.REQUIRED">
        Field is required
    </div>
</val-generic-select>

<val-generic-checkbox [form]="shippingForm"
                      [label]="'Gleiche Rechnungsadresse'"
                      [formName]="'useDifferentBilling'"
                      [isFormSubmitted]="isSubmitted">
    <div val-input-error-message [errorType]="FormErrorType.REQUIRED">
        Field is required
    </div>
</val-generic-checkbox>

<val-generic-radio [formName]="'beer'"
                   [form]="shippingForm"
                   [options]="beers"
                   [isFormSubmitted]="isSubmitted">
</val-generic-radio>

<input type="submit" value="submit form" (click)="submit($event)">

<pre>{{this.shippingForm.value | json}}</pre>
