<div class="toggle-button back" [ngClass]="{'disabled': isDisabled}">
  <div class="animated-bg" [@toggleBackground]="activeIndex">&nbsp;</div>

  <button [ngClass]="{'active': activeIndex === 0}"
          [disabled]="isDisabled"
          (click)="toggleValue()"
          class="first">
    <span>{{values[0].display}}</span>
  </button>

  <button [ngClass]="{'active': activeIndex === 1}"
          [disabled]="isDisabled"
          (click)="toggleValue()"
          class="second">
    <span>{{values[1].display}}</span>
  </button>
</div>
